:root {
  --background-light: radial-gradient(circle at center, #e0e0e0, #f5f5f5);
  --background-dark: radial-gradient(
    circle at center,
    #203a43,
    #2c5364,
    #0f2027
  );
  --card-bg-light: rgb(0 0 0 / 18%);
  --card-bg-dark: rgba(0, 0, 0, 0.3);
  --text-light: #000;
  --text-dark: #fff;
  --blur: blur(1px);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  transition: background 0.5s ease;
  background: var(--background-dark);
  overflow-y: hidden;
}

.clock-container {
  position: relative;
  width: 240px;
  height: 240px;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  backdrop-filter: var(--blur);
  background: var(--card-bg-dark);
  color: var(--text-dark);
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3),
    0 -10px 25px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.time {
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

.divider {
  font-size: 28px;
  opacity: 0.7;
}

.info {
  font-size: 16px;
  margin-top: 10px;
  opacity: 0.8;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: white;
  stroke-opacity: 0.8;
}

.toggle-theme {
  position: absolute;
  top: 17px;
  right: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.toggle-theme:hover {
  background: rgba(255, 255, 255, 0.2);
}

.theme-icon {
  width: 24px;
  height: 24px;
  stroke: white;
  transition: stroke 0.3s ease;
}

body.light-mode .theme-icon {
  stroke: black;
}

.light-mode {
  background: var(--background-light);
}

.light-mode .clock {
  background: var(--card-bg-light);
  color: var(--text-light);
  box-shadow: 10px 10px 25px rgb(0 0 0 / 26%),
    -10px -10px 25px rgba(255, 255, 255, 0.5);
}

.light-mode .toggle-theme {
  color: #000000;
  border: 1px solid #242424;
}

#ampm {
  font-size: 14px;
  margin-left: 3px;
  font-weight: 300;
  opacity: 0.7;
  text-transform: uppercase;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000000;
  display: block;
  background-color: #ffffff38;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: sans-serif;
}
